$black: #000;
$black-2: #343434;
$black-4: #717171;
$yellow: #E9AB2E;
$white: #fff;
$black-3: #687384;
$gray: #969ca7;
$white-2: #f1f5f7;
$title: rgb(150, 150, 150);
$title-2: rgb(100, 100, 100);
$green: #27c2bb;
$blue: #002A8C;