.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.vertical-align-middle {
    vertical-align: middle;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.overflow-hidden {
    overflow: hidden;
}