.u-font-light {
    font-family: 'font-light';
}

.u-font-regular {
    font-family: 'font-regular';
}

.u-font-semibold {
    font-family: 'font-semibold';
}

.u-font-bold {
    font-family: 'font-bold';
}

.u-font-extrabold {
    font-family: 'font-extrabold';
}