<div class="u-padding-y-16">
    <div class="float-left">
        <img width="40px" src="assets/images/bank-512.png" alt="">
    </div>
    <div class="float-right" style="margin-right: -20px;">
        <button mat-icon-button>
            <mat-icon>star_border</mat-icon>
        </button>
    </div>
    <div class="u-margin-l-56 u-margin-r-40">
        <p class="u-font-bold u-fz-14 u-color-black-2">{{agency.name}}</p>
        <p class="u-font-bold u-fz-12 u-margin-y-8 u-color-black-2">{{agency.department}}</p>
        <p class="u-font-light u-fz-12 u-color-black-2">{{agency.address}}</p>
    </div>
</div>