@font-face {
  font-family: 'font-light';
  src: url(../../../assets/fonts/open-sans/OpenSans-Light.ttf);
}

@font-face {
  font-family: 'font-regular';
  src: url(../../../assets/fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'font-semibold';
  src: url(../../../assets/fonts/open-sans/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: 'font-bold';
  src: url(../../../assets/fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'font-extrabold';
  src: url(../../../assets/fonts/open-sans/OpenSans-ExtraBold.ttf);
}
